* { margin: 0; padding: 0; box-sizing: border-box; }
body, html {
  height: 100%;
  width: 100%;
}
#player-container {
  width: 100%;
  height: 100%;
}

#player-container.fullscreen #controls {
  display: none;
}
#player-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left:0;
  top:0;
}

#player {
  width: 100%;
  height: 100%;
}

#controls {
  border-top: 1px solid blue;
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  text-align: center;
  padding-top: 10px;
}

#controls input[type=button] {
  width: 12.8%;
  height: 50px;
  background-color: white;
  font-family: "Open Sans";
  font-size: 1.2em;
  font-weight: bolder;
  border: none;
}

#controls #timeline-container {
  width: 100%;
  text-align: center;
}
#controls #timeline {
  width: 75%;
  padding: 50px;
  margin: 0 auto;
}
